{#
# This file is part of the HipaySyliusPlugin
#
# (c) Smile <dirtech@smile.fr>
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.
#}
{% extends '@SmileHipaySyliusPlugin/Iframe/Layout/hipay_oney_iframe_body_layout.html.twig' %}
{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block content %}
    <div class="pusher">
        {% include '@SyliusShop/_flashes.html.twig' %}
        <div id="hipay-oney-form-{#{{ gateway }}#}" class="hipay-oney-form">
            <div class="ui segment">
                {{ form_start(form, {'action': path('sylius_hipay_oney_iframe'), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
                {{ sylius_template_event('sylius.shop.account.profile.update.after_content_header', {'customer': customer, 'form': form}) }}

                <input type="hidden" name="_method" value="PUT" />
                <div>
                    {{ form_row(form.email, sylius_test_form_attribute('email')) }}
                    <small>
                        {{ 'smile_hipay_sylius_plugin.ui.oney.email_link'|trans({'%link_start%' : '<a href="'~path('sylius_shop_account_profile_update')~'">', '%link_end%' : '</a>'})|raw }}
                    </small>
                </div>

                <div class="two fields">
                    <div class="field">{{ form_row(form.birthday) }}</div>
                    <div class="field">{{ form_row(form.phoneNumber) }}</div>
                </div>

                {{ sylius_template_event('sylius.shop.account.profile.update.form', {'customer': customer, 'form': form}) }}

                <button type="submit" class="ui large primary button" {{ sylius_test_html_attribute('save-changes') }}>{{ 'sylius.ui.save_changes'|trans }}</button>
                {{ form_row(form._token) }}
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
    <script type="application/javascript">
        window.parent.postMessage('{"hipay_customer_profile": {"is_valid": {{ form.vars.valid and form.vars.submitted ? 'true' : 'false' }}}}');
        {% if not form.vars.submitted and not isOneyCustomerValid(customer)%}
        document.forms["{{ form.vars.name }}"].submit();
        {% endif %}
    </script>
{% endblock %}
